<table>
  <tbody>
    <tr>
      <th>User to use in logs : </th>
      <td><input type="text" id="settings_gitlab_user_email" 
                     value="<%= settings['gitlab_user_email'] %>" 
             name="settings[gitlab_user_email]" >
    </tr>
  </tbody>
</table>